body {
  color: #002346 !important;
  font-family: 'Mulish', sans-serif !important;
  font-size: 19px !important;
  background-color: #F0F5F9 !important;
}

.cursor-crosshair {
  cursor: auto !important;
}

.navbar-brand {
  font-weight: 800;
  color: #F1F1F1 !important;
  white-space: normal !important;
  font-size: 24px !important;
  width: -webkit-calc(100% - 7px);
  width:    -moz-calc(100% - 70px);
  width:         calc(100% - 70px);
}

.navbar-brand:before {
  content: url('/static/UBO_Atlas.svg');
  vertical-align: middle;
}

.navbar-brand:after {
  content: 'an overview of Ultimate Beneficial Ownership registers across the EU';
  font-size: 20px;
  vertical-align: 67%;
}

.nav-link {
  color: #F1F1F1 !important;
  font-size: 20px !important;
}

.navbar-toggler {
  position: absolute;
  right: 20px !important;
  top: 24px !important;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

.bg-orange {
  background-color: #FFF0E6 !important;
}

.footer {
  padding: 50px;
  height: 250px !important;
  background-color: #F0F5F9 !important;
}

.legend-color {
  display: inline-block;
  border: 1px #002346 solid !important;
  border-radius: 4px !important;
  width: 40px !important;
  height: 9px !important;
}

.accordion {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.accordion .card:first-child {
  border-top-width: 0 !important;
}

.card {
  border-start-start-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-block-start-color: #204C72 !important;
}

.card-header {
  background-color: #CCDFEB !important;
}

.card-body {
  background-color: #FFFFFF !important;
}

.collapse-button {
  font-weight: 800 !important;
  font-size: 21px !important;
  color: #002346 !important;
}

.columns {
  width: 100%;
  float: left;
}

.svg-container .main-svg path {
  stroke: #FFF0E6 !important;
  stroke-width: 2px !important;
  vertical-align: top;
}

.svg-container .main-svg:first-child {
  background-color: #FFF0E6 !important;
}

@media (max-width: 719px) {
  body {
    font-size: 14px !important;
  }

  h1 {
    font-size: 26px;
  }

  .navbar-brand {
    font-size: 23px !important;
  }

  .navbar-brand:after {
    content: 'an overview of Ultimate Beneficial Ownership registers across the EU';
    font-size: 12px;
    vertical-align: 115%;
  }

  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .annotation-text {
    font-size: 12px !important;
  }
}

@media (min-width: 721px) {
  .four.columns {
    width: 33.3%;
  }
}

/* https://community.plot.ly/t/modebar-appears-on-top-of-dropdown-list/6398 */
.Select-menu-outer {
  z-index: 1002;
}
